.App {
  text-align: center;
  background-color: rgb(250 251 251);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: relative;
  /* z-index: 1; */
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  height: max-content;
  background-color: lightskyblue;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 1px 0;

  /* Position the tooltip */
  position: absolute;
  right: 15px;
  /* bottom: -3px; */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */

  height: 3px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the handle */

  border-radius: 6px; /* Rounded corners of the handle */
}

/* On hover, the handle will be a little darker */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.SliderThumb:focus {
  outline: none;

  box-shadow: 0 0 0 5px var(--black-a8);
}
