/* Modal Overlay Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* Modal Content Styles */
.modal-content {
  position: relative;
  max-width: fit-content;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
}
